@charset "UTF-8";

@media only screen and (max-height: 1368px) {
     #div-central {
         margin-top: 260px; 
     }
 }


@media only screen and (max-height: 1336px) {
     #div-central {
         margin-top: 260px; 
     }
 }

@media only screen and (max-height: 1180px) {
     #div-central {
         margin-top: 180px; 
     }
 }

@media only screen and (max-height: 1024px) {
     #div-central {
         margin-top: 180px; 
     }
}

@media only screen and (max-height: 932px) {
     #div-central {
         margin-top: 150px; 
     }
 }

 @media only screen and (max-height: 896px) {
     #div-central {
         margin-top: 150px; 
     }
 }

 @media only screen and (max-height: 800px){
     #div-central {
         margin-top: 130px;
     }
 }

 @media only screen and (max-height: 740px) {
     #div-central {
         margin-top: 100px; 
     }
 }
 
 @media only screen and (max-height: 667px){
     #div-central {
         margin-top: 65px;
     }
 }
 
 @media only screen and (max-height: 600px){
     #div-central {
         margin-top: 30px;
     }
 }

 @media only screen and (min-height: 544.55px) and (max-height: 544.55px) {
     #div-central {
         margin-top: 8px;
     }
 }

 @media only screen and (min-height: 542px) and (max-height: 544.55px) {
     #div-central {
         margin-top: 8px;
     }
 }
 
 